:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    
    --ff-young: "Young Serif", sans-serif;
    --ff-outfit: "Outfit", sans-serif;

}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}
ul li, 
ol li {
    list-style-position: inside;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
p {
    max-width: 62ch;
    margin-bottom: 2rem;
}
/* -------------------------------------------------Body----------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Young Serif", sans-serif;
}
body {
    min-height: 100dvh;
    font-family: "Outfit", sans-serif;
    background-color: var(--eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    max-width: 575px;
    background-color: var(--white);
}
.sample {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem;
}
.intro > h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--dark-charcoal);
}
.intro > p {
    margin-top: 1rem;
    color: var(--wenge-brown);
}
.prep {
    width: 100%;
    padding: 2rem;
    background-color: #fadef256;
}
.prep > h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-raspberry);
    font-family: "Young Serif", sans-serif;
    font-family: 'Outfits', sans-serif;
}
.prep > ul {
    list-style: disc;
    list-style-position: inside;
}
.prep > ul > li {
    margin-top: .51rem;
    color: var(--dark-raspberry);
}
.prep > ul > li > span {
    font-weight: 900;
    color: var(--wenge-brown);
}
.prep > ul > li > span > span {
    font-weight: normal;
}
/* --------------------------------Ingredients-------------------------------------------------------------------------------------------------- */
.ing {
    align-self: start;
    margin-top: 1rem;
}
.ing > h3 {
    font-size: 2rem;
    color: var(--nutmeg);
}
.ing > ul > li {
    margin: 1rem 0;
    color: var(--nutmeg);
    margin: 5px;
}
.ing > ul > li > span {
    color: var(--wenge-brown);
}
/* --------------------------------End Ingredients-------------------------------------------------------------------------------------------------- */
/* --------------------------------Start Instructions-------------------------------------------------------------------------------------------------- */
.inst {
    margin-bottom: 1rem;
}
.inst > h3 {
    color: var(--nutmeg);
    font-size: 2rem;    
}
.inst > ol > li {
    color: var(--nutmeg);
    font-weight: 900;
}
.inst > ol > li {
    color: var(--dark-raspberry);
    margin: 5px;
}
.inst > ol > li > span {
    color: var(--wenge-brown);
    font-weight: 900;
}
.inst > ol > li > span > span {
    font-weight: normal;
}
.inst > ol > li {
    counter-increment: muffins;
    display: flex;
    align-items: start;
}
.inst > ol > li:before {
    content: counter(muffins) ". ";
    margin-right: 1rem;
}
.inst > ol {
    counter-reset: muffins;
    margin: 1rem 0 0;
}

/* --------------------------------End Instructions-------------------------------------------------------------------------------------------------- */
/* --------------------------------Start Nutrition-------------------------------------------------------------------------------------------------- */
.nut {
    margin-bottom: 1rem;
    color: var(--wenge-brown);
}
.nut > h4 {
    color: var(--nutmeg);
    font-size: 2rem;
}
.nut table {
    width: 100%;
    border-collapse: collapse;
}
tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
td {
    padding: 8px;
    text-align: left;
}
td:nth-child(odd) {
    font-weight: 600;
    color: var(--wenge-brown);
}
td:nth-child(even) {
    font-weight: 900;
    color: var(--nutmeg);
}
 

@media(min-width: 768px) {
    body {
        justify-content: center;
        margin: 2rem;
    }
    main {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        border-radius: 2rem;
    }
    .hero {
        border-radius: 1rem;
        margin: 2rem auto;
        max-width: 680px;
    }
    .sample {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
        margin: 0 2rem;
    }
    .hr {
        width: 100%;
        margin: 1rem 0; 
        border: 1px solid rgb(231, 227, 227);
    }
    body {
        background-color: var(--eggshell);
    }
    .intro > h1 {
        color: var(--dark-charcoal);
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .intro > p {
        color: var(--wenge-brown);
    }
    /* --------------------------------Preparation-------------------------------------------------------------------------------------------------- */
    .prep {
        width: 100%;
        padding: 2rem;
        background-color: rgba(216, 179, 185, 0.16);
    }
    .prep > h2 {
        font-size: 1.2rem;
        font-weight: 900;
        color: var(--dark-raspberry);
        font-family: 'Outfits', sans-serif;
    }
    .prep > ul {
        list-style: disc;
        list-style-position: inside;
    }
    .prep > ul > li {
        margin: 1rem 0;
        color: var(--dark-raspberry);
        margin: 5px;
    }
    .prep > ul > li > span {
        color: var(--wenge-brown);
        font-weight: 900;
    }
    .prep > ul > li > span > span {
        font-weight: normal;
    }
    /* --------------------------------Preparation-------------------------------------------------------------------------------------------------- */
    /* --------------------------------Ingredients-------------------------------------------------------------------------------------------------- */
    .ing {
        align-self: start;
        margin-top: 1rem;
    }
    .ing > h3 {
        font-size: 2rem;
        color: var(--nutmeg);
    }
    .ing > ul > li {
        margin: 1rem 0;
        color: var(--nutmeg);
        margin: 5px;
    }
    .ing > ul > li > span {
        color: var(--wenge-brown);
    }
    /* --------------------------------End Ingredients-------------------------------------------------------------------------------------------------- */
    /* --------------------------------Start Instructions-------------------------------------------------------------------------------------------------- */
    .inst {
        margin-bottom: 1rem;
    }
    .inst > h3 {
        color: var(--nutmeg);
        font-size: 2rem;    
    }
    .inst > ol > li {
        color: var(--nutmeg);
        font-weight: 900;
    }
    .inst > ol > li {
        color: var(--dark-raspberry);
        margin: 5px;
    }
    .inst > ol > li > span {
        color: var(--wenge-brown);
        font-weight: 900;
    }
    .inst > ol > li > span > span {
        font-weight: normal;
    }
    .inst > ol > li {
        counter-increment: muffins;
        display: flex;
        align-items: start;
    
    }
    .inst > ol > li:before {
        content: counter(muffins) ". ";
        margin-right: 1rem;
    }
    .inst > ol {
        counter-reset: muffins;
        margin: 1rem 0 0;
    }
    
    /* --------------------------------End Instructions-------------------------------------------------------------------------------------------------- */
    /* --------------------------------Start Nutrition-------------------------------------------------------------------------------------------------- */
    .nut {
        margin-bottom: 1rem;
        color: var(--wenge-brown);
    }
    .nut > h4 {
        color: var(--nutmeg);
        font-size: 2rem;
    }
    .nut table {
        width: 100%;
        border-collapse: collapse;
    }
    tr:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    td {
        padding: 8px;
        text-align: left;
    }
    td:nth-child(odd) {
        font-weight: 600;
        color: var(--wenge-brown);
    }
    td:nth-child(even) {
        font-weight: 900;
        color: var(--nutmeg);
    }
}
